secrets.yaml
home-assistant_v2.db
.HA_VERSION
fuel.info.sh
cameras.yaml
home-assistant.log
zona_de_testes.yaml
/~syncthing~home-assistant_v2.db-wal.tmp
.storage/
storage/
~syncthing~home-assistant_v2.db-shm.tmp
syncthing~home-assistant_v2.db-shm.tmp
